<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/23c2e77f-798b-4de1-ac45-90f11b832ef4/resourceGroups/azure-web-app-by-nester_group/providers/Microsoft.Web/sites/NesterFNApp</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://nesterfnapp.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://nesterfnapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$NesterFNApp</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>